.app-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 50px ;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
    position: relative;
}

h1 {
    text-align: center;
    color: #004084;
    font-size: 2em;
    margin: 20px 0;
}

.user-profile {
    margin: 0 auto;
    max-width: 600px;
    padding: 20px;
}

.user-profile h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.user-profile p {
    font-size: 1.1em;
    color: #555;
    line-height: 1.6;
    margin-bottom: 10px;
}

body {
    font-family: 'Helvetica Neue', sans-serif;
    background-color: #e9ecef;
    margin: 0;
    padding: 0;
}
